<div class="animated fadeIn">
    <h4>Pick and Pack</h4>
    <div class="form-group">
        <button class="btn btn-primary" (click)="postSAP()">Post to SAP</button>
    </div>
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>SO No.</th>
                <th>Doc. Date</th>
                <th>SO Type</th>
                <th>BP Name</th>
                <th>Branch</th>
                <th>Item Code</th>
                <th>Description</th>
                <th>SO Qty</th>
                <th>Qty To Post</th>
                <th>Pick</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of openSalesOrders">
                <td> {{ i.docNum }} </td>
                <td> {{ i.docDate | date: 'MM-dd-yy' }} </td>
                <td> {{ i.soType }} </td>
                <td> {{ i.cardName }}</td>
                <td> {{ i.branch }} </td>
                <td> {{ i.itemCode }} </td>
                <td> {{ i.dscription }} </td>
                <td> {{ i.quantity }} </td>
                <td>
                    <input type="number" class="form-control form-control-sm" [(ngModel)]="i.qtyToPost">
                </td>
                <td class="text-center">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" (change)="checkSO(i)">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>