<div class="animated fadeIn">
    <h4>Open Orders Monitoring</h4>
    <div class="form-group">
        <button class="btn btn-primary" (click)="closeConfirm()" [disabled]="checkSOD.length === 0">Close
            Document</button>
    </div>
    <div class="card">
        <div style="overflow-y: auto; height: 400px; display: block;">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th></th>
                        <th>Doc. No.</th>
                        <th>Doc. Date</th>
                        <th>Days Due</th>
                        <th>BP Name</th>
                        <th>Items</th>
                        <th class="text-center">Close</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of soMonitoring | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" 
                        [ngClass]="checkSOD.includes(i.docEntry) ? 'table-success' : ''">
                        <td> {{ i.type }} </td>
                        <td> {{ i.docNum }} </td>
                        <td> {{ i.docDate | date: 'yy-MM-dd' }} </td>
                        <td> {{ i.daysDue }} </td>
                        <td> {{ i.bpName }} </td>
                        <td>
                            <button type="button" class="btn btn-link btn-sm" (click)="openModal(details, i.docNum)">
                                View
                            </button>
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input"
                                    (change)="checkedSalesOrder(i.docEntry, i.type)">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="soMonitoring.length"></ngb-pagination>
</div>
<ng-template #details>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Document No {{ soNo }} </h4>
        <button type="button" class="close" aria-label="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <strong>Item Details</strong>
        </div>
        <div class="card-body">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>PL No.</th>
                        <th>Item Code</th>
                        <th>Picked Qty</th>
                        <th>Remarks</th>
                        <th>Date</th>
                        <th>User</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of soMonitoringDetails">
                        <td> {{ i.plNo}} </td>
                        <td> {{ i.itemCode }}</td>
                        <td> {{ i.qty }} </td>
                        <td> {{ i.remarks }} </td>
                        <td> {{ i.date | date: 'yyyy-MM-dd' }} </td>
                        <td> {{ i.userName }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-template>